body {
    overflow-x: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
    text-align: center;
    background-color: rgba(56, 87, 90, 0.14);
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    outline: none;
}

::-webkit-scrollbar {
    width: 13px; /* ���������*/
    height: 5px; /* ��������� */
    background-color: rgba(94, 110, 255, 0.45);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(72, 85, 194, 0.56);
    background-color: rgba(94, 110, 255, 0.41);
    border-radius: 5px;
}