.contentlanguage{
    position: relative;
    z-index: 1;
    text-align: center;
    text-indent: 20px;
    padding: 0 5px 0 5px;
}
.languagebox{
    position: relative;
    z-index: 1;
    width: 200%;
    height: 200%;
}
.modify_button{
    color: #ff6e1f;
    background-color: white;
    border:0;
    outline: none;
}
.modify_button:hover{
    cursor: pointer;
    color: #9f4b18;
    background-color: white;
    border:0;
    outline: none;
}
.editwindow{
    position: relative;
}
.editwindow_input{
    position: relative;
    margin: auto;
    width: 80%;
}
